*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(250, 242, 242);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    max-width: 1200px;
}

/* conteudo principal */

.topo{
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to right,#E0FFFF,	#E6E6FA);
}

.topo .container{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.topo-titulo{
    font-weight: 500;
    font-size: 20px;
    font-family: monospace;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px darkslategrey;
}

.links-topo a{
    text-decoration: none;
    padding: 0 10px;
    text-transform: uppercase;
    color: darkslategrey;
    font-weight: 600;
}

.links-topo a:hover{
    border-radius: 30px;
    background-color:paleturquoise;
    padding: 20px;
}

img{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    border-radius: 50%;
}

.container-principal .inicio{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.inicio p{
    text-transform: uppercase;
    margin-left: 20px;
}

p strong, em{
    color: #54b3b3;
}

/* conteudo principal fim */

/* conteudo de apoio 1 inicio */

.titulo-competencias{
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
}

.boxInter{
    width: 200px;
    background: #cffcfc;
    margin-bottom: 10px;
}

.boxInter:hover{
    width: 50%;
    display: flex;
    flex-basis: 200px;
    justify-content: flex-end;
    padding: 0px 20px 0px 0px;
    transition: width 2s;
}

.boxTec{
    width: 200px;
    background: #E6E6FA;
}

.boxTec:hover{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px 0px 0px;
    transition: width 2s;
}

.interpessoais li{
    list-style: none;
    
}

.tecnicos li{
    list-style: none;
}

.interpessoais li:hover{
    cursor: grab;
}

.tecnicos li:hover{
    cursor: grab;
}
/* conteudo de apoio 1 fim*/

/* conteudo de apoio 2 inicio */

.titulo-contato{
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
}

.boxBlogs{
    width: 200px;
    background: #cffcfc;
    margin-bottom: 10px;
}

.boxBlogs:hover{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px 0px 0px;
    transition: width 2s;
}

.boxSociais{
    width: 200px;
    background: #E6E6FA;
}

.boxSociais:hover{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px 0px 0px;
    transition: width 2s;
}

.blogs li{
    list-style: none;  
    
}

.redesSociais li{
    list-style: none;
}

.blogs li:hover{
    cursor: grab;

}

.redesSociais li:hover{
    cursor: grab;
    
}

.blogs a{
    text-decoration: none;
    color: black;
}

.redesSociais a{
    text-decoration: none;
    color: black;
}

/* conteudo de apoio 2 fim */


.rodape{
    height: 10px;
    width: 100%;
}

.rodape .container-rodape{
    text-align: center;
    color: darkslategrey;
    font-weight: 600;
    background-image: linear-gradient(to right,#E0FFFF,	#E6E6FA);
    padding: 10px;
}
.container-rodape h3{
    font-size: 25px;
    font-family: cursive;
}

